.clock-body {
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
}

.arrow {
    position: absolute;
    left: 200px;
    top: 200px;
    height: 180px;

}

.clock-seconds {
    width: 1px;
    background-color: red;
}

.clock-minutes {
    width: 3px;
    height: 150px;
    background-color: black;
}
.clock-hours {
    width: 5px;
    background-color: gray;
    height: 120px;
}
